/* reset 重制浏览器默认样式 */
* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

h1 {
    margin: 0 0;
}

body {
    overflow: hidden;
}

@font-face{
    font-family: 'Mona Sans';
    src:  url('/fonts/Mona-Sans.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/Mona-Sans.woff') format('woff'), /* Pretty Modern Browsers */
}
